main{
    background : linear-gradient(rgb(51,153,255), rgb(116, 184, 184));
}

#reqSection{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

#freeDiv{
    height: 30px;
}

#reqList{
    height: auto;
    width: 70%;
    left: 10%;
    background-color: #7fbaf5;
}

.freeDivTwo{
    height: 50px;
}

#h{
    margin-left: 38%;
    width : 400px;
}

#mainH{
    display: inline;
}

#acceptBtn{
    border-radius: 40px;
    border : white 2px solid;
    width : 150px;
    height: 50px;
    background-color: #8dbcc6;
    margin-left: 70%;
}