
#mainForm{
    /*background: linear-gradient(rgb(51,153,255), rgb(116, 184, 184));;*/
}

#headText{
    position : relative;
    padding-left : 33%;
}

#confirmBtn{
    background-color: #a0f364;
    border-radius: 20px;
    border : #2c3034 2px solid;
    width: 100%;
    height: 50px;
}

#denyBtn{
    background-color: #ef2a2a;
    border-radius: 20px;
    border : #2c3034 2px solid;
    width: 100%;
    height: 50px;
    margin-top: 73%;
}

#freeDivTwo{
    height: 100px;
}

#freeDivThree{
    height: 50px;
}

#freeDivTwo>h2{
    position: relative;
    width: 45%;
    margin-left : 35%;
}


#manageForm>div>div>input{
    border-radius: 20px;
    height: 40px;
    width: 90%;
    border: 1px solid black;
}

#drivers{
    border-radius: 20px;
    height: 30px;
    width: 50%;
    border: 1px solid black;
}