#navBar{
    background-color: darkcyan;
    height: 55px;
}

#logoImage{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 2px;
}

#navBar>div>a>h3{
    margin-top: 8px;
    color: aliceblue;
}

#middleImage{
    width: 100%;
    height: 600px;
    opacity: 50%;
}

#headLine{
    position: absolute;
    top: 17%;
    left: 38%;
    background-color: rgb(6, 33, 75);
    color: aliceblue;
}

#middleDiv{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 400px;
}

#card{
    background-color: rgb(7, 100, 69, 0.5);
}

#rwList>div>input{
    border-radius: 10px;
}

#searchBtn{
    border-radius: 20px;
    background-color: rgb(136, 240, 191);
    border: 1px solid white;
    width: 200px;
    height: 50px;
}

#vehicleFeed{
    background-color: #279ebb;
}

#callIcon{
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 8px solid rgba(7, 245, 31, 0.45);
    top: 85%;
    left: 90%;
}

#callLogo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 0%;
}

/*===================== Reservation Area ======================*/

#resBtn{
    border-radius: 20px;
    background-color: #7bea6e;
    width : 250px;
    height: 60px;
    margin-left: 50px;
    margin-top: 80px;
}

#cancelBtn{
    border-radius: 20px;
    background-color: #fa6254;
    width : 250px;
    height: 60px;
    margin-left: 50px;
}

#line{
    border-right: #2c3034 2px solid;
}

#reservationSection{
    border: white 4px solid;
    border-radius: 10px;
}

#conMail{
    border-radius: 10px;
    width: 85%;
    height: 35px;
    border: 1px solid wheat;
}